.filter-todo__container {
    width: 12rem;
    position: relative;
    overflow: hidden;
  }
  
  .select-todo {
    color: var(--primary-color-btn);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    padding: 1rem;
  }
  
  .filter-todo__container::after {
    content: "\25BC";
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  }
  
  option {
    font-size: 1.2rem;
  }